<div class="col s12 tag-div">
  <div class="user-pic center-align">
    <a href="{{site.github_profile}}" target="_blank"><img class="circle hoverable z-depth-1" src="{{site.baseurl}}/assets/res/user.png"></a>
  </div>
  <div class="user-intro center-align">
    <h4 class="hidden">Eu sou Nilsonlinux. <span id="js-rotating">Desenvolvedor Web., Usuário Linux., Blogueiro., youtuber.</span> Trazendo o melhor pra você.</h4>
  </div>
  <div class="user-content">
    <p>
      Este site possue algumas modificações em se tratando ao seu site original, As páginas foram traduzidas para o portugês-BR. Uma modelada na cor da página e cores sutis nos links de pesquisas.
    </p>
    <p>
      Alguns icones foram substituidos. Adicionado a opção pesquisa no menu, e mais adiante vou trazer novidades. Continue acompanhando o projeto.
    </p>
  </div>
</div>
